version: '3.8'

services:
  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      # Цей рядок дозволяє Jenkins керувати Docker-ом на хості (важливо для складніших пайплайнів)
      - //var/run/docker.sock:/var/run/docker.sock
    restart: always
    user: root

volumes:
  jenkins_home:
